<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <title>Admin-Server</title>
  
</head>
<body>
<table width="640" border="0">
  <tbody>
    <tr>
              <td align="center">                                        
                   
      <h1>Filter Template</h1>
      </td>
    </tr>
                          
  </tbody>
</table>
<!-- Content starts here -->  
<table cellpadding="2" cellspacing="2" border="0" width="640">
    <tbody>
      <tr>
        <td valign="top" align="left" width="600" height="400">
      <div align="center">Place your <i><b>HTML</b></i>description of the
filter here.<br>
      </div>
      <br>
&nbsp;                                   
      <h1 align="center"><img height="101" width="100" alt=""
 src="file:///home/luelljoc/JTag-PAW-Develop/PAW/paw-0.27/html/templates/images/pawlogo.jpg"
 border="0"></h1>
      <div align="center">      </div>
      </td>
      </tr>
                         
  </tbody>  
</table>
</body>
</html>
